/modelzoo*
/datasets*
/outputs*
/offload_weights*
/cache*
/background*
/plots*
*__pycache__*

/.vscode
/tmp*
/eval_reasoning/.vscode*
/eval_reasoning/datasets*
/eval_reasoning/modelzoo*
/eval_reasoning/outputs*

/.claude
*CLAUDE.md
/.codex
*AGENTS.md